<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CRM" connectionString="AuthType=Office365;Url=https://rbhyd123.crm8.dynamics.com; Username=arunav@rbhyd123.onmicrosoft.com; Password=Qwerty@123" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
